<h1 class="pageTitle">Add Expense</h1>

<div style="display: flex; justify-content: space-between; padding: 1rem; align-items: center;">
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <a href="/addpeople" data-navigo style="display: flex; align-items: center;">
            <img src="assets/Button/back-button.png" alt="Back" width="19" style="cursor: pointer;">
        </a>
        <span style="font-size: 0.9rem;">Add People</span>
    </div>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <span style="font-size: 0.9rem;">Next</span>
        <a href="/addexpense" data-navigo style="display: flex; align-items: center;">
            <img src="assets/Button/next-button.png" alt="Next" width="19" style="cursor: pointer;">
        </a>
    </div>
</div>

<p class="pageSubtitle">Click expense to add detail</p>

<div class="center-container">
    <div class="input-list" id="inputList">
        <div class="input-row">
            <input type="text" value="" id="cardInput" />

            <img src="assets/Button/add-button.png" class="minus-btn" alt="Add" onclick="addCardUI();" />
        </div>

    </div>
</div>

<div class="center-container3">
    <div class="card-grid" id="cardGrid">

    </div>
</div>