<h1 class="pageTitle">Add People</h1>

<div style="display: flex; justify-content: space-between; padding: 1rem; align-items: center;">
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <a href="/" data-navigo style="display: flex; align-items: center;">
            <img src="assets/Button/back-button.png" alt="Back" width="19" style="cursor: pointer;">
        </a>
        <span style="font-size: 0.9rem;">Home</span>
    </div>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <span style="font-size: 0.9rem;">Add Expense</span>
        <a href="/addexpense" data-navigo style="display: flex; align-items: center;">
            <img src="assets/Button/next-button.png" alt="Next" width="19" style="cursor: pointer;">
        </a>
    </div>
</div>


<p class="pageSubtitle">Click + to add people</p>

<div class="center-container2">
    <div class="input-list" id="inputList">
    </div>
</div>

<img src="assets/Button/add-button.png" alt="Add" class="add-btn" onclick="addInputRow()">