<div class="center-container">
    <img src="assets/start-illustration.png" width="300">
    <!-- <img src="images/my-image.jpg" alt="A description" width="300"> -->
</div>
<h1 style="color: #3629B7;">Split Bill Calculator </h1>
<p>by Adira</p>

<div class="center-container-home">
    <a href="/addpeople" data-navigo>
        <img src="assets/Button/start-button.png" id="start-button" width="300">
    </a>
</div>

<p>UI design by <a href="https://www.figma.com/community/file/1322236579213422290/ibank-banking-e-money-management-app-finpay-digital-finance-mobile-banking-app-ui-kit">Seju</a></p>